<h1>This is our index!</h1>
<%= link_to "New Pin", new_pin_path %>
<%= link_to "New Board", new_board_path %>

<br>
<br>

<% @pins.each do |pin| %>
	<%= link_to (image_tag pin.image.url(:medium)), pin %><br>
	<%= link_to pin.title, pin %> <br>

<% end %>